body {
  margin: 0;
  background-color: #3f2c26;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-shadow: 10px 10px 0 #000;
  font-size: 100px;
}
