*,
*::before,
*::after {
  box-sizing: border-box;
}

body { background-color: #F0F1D5; }

div {
  padding: 100px;
  cursor: pointer;
}

.first { background: #c33325; }

.second { background: #f19722; }

.third { background: #2c8693; }

.fourth { background-color: #F0F1D5; }

button {
  display: block;
  width: 25%;
  padding: 2rem .5rem;
  margin: 2rem auto;
  background-color: #105187;
  color: #f0f1d5;
  font-size: 3rem;
  cursor: pointer;
}
